<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>

<body>
    <nav class="fixed flex w-full h-20">
        <div class="flex justify-center items-center bg-pink-200 basis-1/2">
            <h1 class="font-bold text-start sm:text-[10px] xl:text-[40px] ms-5">Glamour and Look</h1>
        </div>
        <div class="flex justify-evenly items-center bg-pink-200 basis-1/2">
            <a href="" class="">Servicios</a>
            <a href="" class="">Acerca de Nosotros</a>
        </div>
    </nav>
    <div class="h-20"></div>
    <div>
        <a href="{{ url_for('regis.login' ) }}" class="">Iniciar Sesion</a>
        <a href="{{ url_for('regis.registro' ) }}" class="">Registrate</a>
    </div>

</body>         

</html>