<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>

<body>
    <nav class="fixed flex w-full h-20">
        <div class="flex justify-center items-center bg-pink-200 basis-1/2">
            <h1 class="font-bold text-start sm:text-[10px] xl:text-[40px] uppercase ms-5">La belleza es para tod@s</h1>
        </div>
        <div class="flex justify-end items-center bg-pink-200 basis-1/2">
            <a href="{{ url_for('regis.login' ) }}" class="bg-violet-300 hover:shadow-lg hover:shadow-black/50 mr-10 px-3 hover:px-6 py-2 hover:py-3 rounded-xl hover:rounded-full hover:font-bold transition-all duration-300 ease-in-out">Iniciar Sesion</a>
            <a href="{{ url_for('regis.registro' ) }}" class="bg-pink-400 hover:shadow-lg hover:shadow-black/50 mr-10 px-4 hover:px-6 py-2 hover:py-3 rounded-xl hover:rounded-full hover:font-bold transition-all duration-300 ease-in-out">Registrate</a>
        </div>
    </nav>
    <div class="h-20"></div>
    <div class="grid grid-cols-2">
        <div class="flex justify-center items-center mt-32">
            <img class="shadow-2xl shadow-slate-500 rounded-xl animate-[wiggle_1s_ease-in-out_infinite] rotate-[5deg]" src="../static/maquillaje.jpeg" alt="">
        </div>
        <div>
            <h1 class="bg-clip-text bg-gradient-to-br from-rose-300 to-rose-500 mt-10 font-extrabold font-sans text-[50px] text-center text-transparent animate-pulse">Belleza es resultado de cuidado, dedicacion y amor propio</h1>

            <p class="mt-32 text-4xl text-center text-slate-500">Confia tu belleza y cuidado a nosotros. Somos un grupo de profesionales que nuestro deber es hacerte relucir y destacar sobre los demas haciendote sentir tu misma.</p>
        </div>

    </div>
</body>         

</html>