<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body>
    <h1>panel de inicio</h1>
    <h1>{{usuario}}</h1>
    <h1 class="text-2xl">{{nombre}}</h1>
    <h1 class="text-[50px]">{{apellido}}</h1>
    <h1>{{fecharegistro}}</h1>
    <a href="{{ url_for('regis.logout' ) }}">Cerrar sesion</a>
    <a href="{{ url_for('admin.usuarios' ) }}"> Ver usuarios</a>
</body>
</html>