<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body>
    <a href="{{ url_for('index.inicio' ) }}">Volver a inicio</a>
    <div>
        <form action="{{ url_for('regis.login' ) }}" method="post">
            <label for="">Usuario</label>
            <input type="text" name="usuario">
            <label for="">Contraseña</label>
            <input type="password" name="password">
            <input type="submit" value="Iniciar sesion">
        </form>
    </div>
    <p>que onda perez</p>
</body>
</html>